body{
    background-color: rgba(0, 183, 196, 0.22);
}
h1{
    color: purple;
    text-align: center;
    font-size: 3em;
    font-family: Silkscreen, Arial, sans-serif;
}
p.hi_kris{
    text-align: center;
}
h2{
    text-align: center;
    color: #989899;
    font-size: 0.9em;
    line-height: 0.1px;
}
ul{
    top: 10px;
}